.section-1 {
    background-color: aqua;
    height: 80vh;
    text-align: center;
}

.section-2 {
    background-color: pink;
    height: 50vh;
}

.section-3 {
    background-color: yellow;
    height: 50vh;
}

.section-4 {
    background-color: green;
    height: 50vh;
}


