@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: white;
    overflow-y: hidden;
}
.content {
    width: 100%;
    height: 100%;
    margin: auto;
    transform: translateX(0);
    transition: all 0.5s ease;
    position: relative;
    background-color: white;
}

.content.active {
    transform: translateX(-20%);
}
header {
    position: absolute;
    padding: 0px 90px !important;
    width: 100%;
    height: 60px;
    background: white;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #0b1114;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5em !important;
    font-weight: bold !important;
}

.menu-toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../asset/outline_menu_black_24dp.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.menu-toggle.active {
    background: url('../asset/outline_close_black_24dp.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.map-containers {
    width: 90%;
    margin: auto;
    position: relative;
    height: 100%;
    transition: all 0.5s ease;
    top: 60px;
    
}

.map-toggle {
    position: absolute;
    z-index: 1000;
}

.container {
    overflow: hidden;
    width: 100%;
}


.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* z-index: -1; */
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
    padding-bottom: 1rem;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.menu ul li a:hover {
    color: #03a9f4;
}

.mapboxgl-ctrl{
    top: 20px !important;
}

.social {
    position: relative;
    z-index: 10;
    bottom: 5vh;
    left: 95px;
    display: flex;
    padding-top: 20px;
    justify-content: flex-start;
    align-items: center;
}

.social h3 {
    font-size: 1.1em;
    font-weight: 800;
    color: #0b1114;
    line-height: 1em;
}
