body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Nav Bar container CSS */

.nav-bar-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    font-weight: bolder;
    font-size: x-large;
    justify-self: start;
    top: 50%;
    font-size: 22pt;
    /* margin: auto; */
}

.navigation-btn {
    position: relative;
    top: 50%;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    float: right;
}

/* Presents navbar items in a row without list style (no bullets) */

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

/* Gives space between navbar items */

.navbar-item {
    padding-left: 40px;
    padding-right: 40px;
}

/* Removes text decoration from navbar text */

.navbar-link {
    text-decoration: none;
    color: black;
    font-size: 16pt;
}

/* Allows font to change on hover */

.navbar-link:hover {
    text-decoration: underline;
    color: #d55e2d;
}

/* Hides hamburger */

.button {
    display: none;
}

/* Map-container Css */

.map-container {
    top: 30px;
    position: relative;
    width: 90%;
    margin: auto;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 90vh;
    padding-left: 20px;
    border-radius: 10px;
    overflow-x: hidden;
    /* menu Css */
}

#menu {
    
    /* position: absolute;
    z-index: 1000; */
    /* top: 10px;
    right: 10px; */
    display:flex;
    justify-content: space-between;
    /* border-radius: 3px; */
    /* height: 100px; */
    /* width: 120px; */
    /* border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px; */
    /* font-family: 'Open Sans', sans-serif; */
}

#menu a {
    font-size: 13px;
    color: #9e9b9b;
    display: block;
    margin: 5px;
    padding: 6px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
    text-align: center;
}

#menu a:last-child {
    border: none;
}

/* #menu a:hover {
    background: #448ee4;
    color: #fff;
} */

#menu a.active {
    /* background-color:; */
    background: #448EE4;
    color: rgb(255, 255, 255);
}



